<app-todos></app-todos>
<!-- <h1>Todos</h1>

<form action="#" (ngSubmit)="onCreate()">
  <input type="text"  [(ngModel)]="title">
  <button>Добавить</button>
</form>

<ul>
  <li *ngFor="let todo of todoList">
    <input type="checkbox" name="completed" [checked]="todo.completed">
    <span *ngIf="!todo.completed">{{ todo.title }}</span>
    <span *ngIf="todo.completed"><del>{{ todo.title }}</del></span>
    <span>Удалить</span>
  </li>
  <li>
    <input type="checkbox" name="completed" checked="checked">
    <span>То что уже сделано</span>
    <span>Удалить</span>
  </li>
</ul> -->